  <h2>Celebrities List</h2>
  <div>  
  <a href="/">Home</a>
  </div>
  <div>  
  <a href="/celebrities/create">Create a new celebrity</a>
  </div>
  {{#each celebrities}}
      <p>Name: {{ name }}</p>
      <p>Occupation: {{ occupation }}</p>
      <p>Catch Phrase: {{ catchPhrase }}</p>
      <p>----------------------------</p>
  {{/each}}